body {
	background-image: url('tetris.jpg');
	background-position: center bottom;
	background-attachment: fixed;
	background-size: cover;
}



.mainContent {
	width: 60%;
	margin: auto;
	margin-top: 100px;
	

}

video {
	width: 100%;
}

img {
	width: 100%;
	height: auto;
}


p {
	font-family: Quicksand, sans-serif;
	font-size: 1.2em;
	color: black;
	background-color: white;
	border-radius: 5px;
	margin: 10px;
	padding: 15px;
}

.nav {
	font-family: Quicksand, sans-serif;
	font-size: 1.5em;
	text-align: center;
	white-space: nowrap;
}

.nav a {
	background-color: white;
    border-radius: 5px;
    padding: 2px;
    width: fit-content;
    margin:auto;
}

.links, .selected {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.header {
	font-family: Quicksand, sans-serif;
	font-size: 4em;
	text-align: center;
	letter-spacing: 0.05em;
	margin-top: 80px;
	margin-bottom: 80px;
	background-color: white;
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
    margin:auto;
}

/*Link styles*/

a:link, a:visited {
	text-decoration: none;
	color: #F6B9C6;
}

a:focus, a:hover {
	color: black;
}

a:active {
	opacity: 0.5;
}

a.selected:link, a.selected:visited {
	color: #F6B9C6;
}